.wrapper{
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #EE6E6E;
    z-index: 3;
    position: absolute;
    border-radius: 20px;
    /*backdrop-filter: blur(20px);*/
    background-color: #F0C9C9;
    box-shadow: 0 0 30px #F0C9C9(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    left: 550px;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease,height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 620px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #EE6E6E;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.form-box h2{
    font-size: 2rem;
    color: #EE6E6E;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #EE6E6E;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #EE6E6E;
    font-weight: 600px;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #EE6E6E;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9rem;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;

}

.remember-forgot a{
    color: #EE6E6E;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #EE6E6E;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.btn a{
    text-decoration: none;
    color: white;
}

.login-register{
    font-size: .9rem;
    color: #EE6E6E;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: #EE6E6E;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 1170px){
    
    .wrapper.active-popup{
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(50% - 220px); /* 50% da altura do viewport - metade da altura do wrapper */
        left: calc(50% - 200px); 
    }

    
}